*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(122, 225, 37);
    height: 60px;

    
}

main{
    background-color: #183584;
}

#foto_equipy{
    height: 230px;
    width: 300px;
    position: relative;
    left: 370px;
    border: solid black 2px;
    border-radius: 10px;
    margin-bottom: 60px;
    top: 30px;
}

.cont_equipe{
    height: 700px;
    width: 1070px;
    margin-left: 50px;
    border: solid 2px black;
    position: relative;
    left: 70px;
    background-color: rgb(255, 0, 0);
}

.cont_equipe h2, p{
   margin:0px 20px 0px 20px;
}